<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890277139299-b9oorpomsamrhk63jokfuspjbtp76ajh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890277139299-b9oorpomsamrhk63jokfuspjbtp76ajh</string>
	<key>API_KEY</key>
	<string>AIzaSyBbUNR_TIXDixCW2NJiX--vcLHj_EKA73E</string>
	<key>GCM_SENDER_ID</key>
	<string>890277139299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utkucetinkaya.BreakingUSNews</string>
	<key>PROJECT_ID</key>
	<string>breakingusnews-b967d</string>
	<key>STORAGE_BUCKET</key>
	<string>breakingusnews-b967d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890277139299:ios:e10fe69d5a8483f7fbf956</string>
</dict>
</plist>